.present-label {
    color: green;
}
 
.absent-label {
    color: red;
}
 
#studentpiechat{
    width: 225px;
    margin-left: 20rem;
 
}
 
 
#staffpiechat{
    width: 32rem;
    margin-left: 14rem;
 
}
