.dh__img{
    width:25%;
    /* height:20%; */
    /* text-align: center  ; */
    padding: .5rem;
}
.cards{
    display: flex !important;
    flex-wrap: wrap !important;
    flex-direction: row !important;
    justify-content: center !important;
}
.cards-body{
    /* background-color: red; */
    border-left: 2px solid #ccc !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
    font-size:1rem;
}
.cards > .card-title{
    text-align: center !important;
    font-weight: 600 !important;
}
.showCard > .card{
    border: none !important;
    background-color: #fff;
}
.showCard >.card > .card-header{
    background-color: #fff;
}
#summaryCard{
    border: none !important;
    height: 27.2rem;
}
#totalCount{
    margin-left: 0;
    margin-right: 0;
}
h6{
    font-size: 13px;
}
.names{
    margin-left: 2rem;
}
.sizeimg{
    height: 1.5rem;
    width: 1.5rem;
}
.accountImg{
    height: 2rem;
    width: 2rem;
    margin-left: 9px 
}
.textSize{
    font-size: 14px;
}
.upperCard{
    background-color: #fff;
    height: 4rem;
  margin-top: -2rem;
  padding-top: 0.2rem;
}
.birthday{
    width: fit-content;
    height: auto;
    background-color: #f7f7f7;
    border: none;
   border-radius: 14px;
  }
  .imageCard{
  border: none;
  border-radius: 15px;
  width: 128px;
  background-color: #f7f7f7;
  }
  .accounts{
    margin-top: 18px;
  }
  .imgBox{
  position: absolute;
  height: 3rem;
  background-color: #fff;
  width: 3rem;
  left: 50%;
  top: -15px;
  transform: translateX(-50%);
  border-radius: 100%;
  }
  #sideRow{
    margin-top: -4rem;
    padding-left: 0rem !important;
  }
  .textSelect{
    margin-top: 7px;
  }
  #tableHead{
    background-color: #f7f7f7;
  }
  #absentCards,
  #birthdayCards {
      margin-right: 0;
  }
  .scrollCards{
    height: 10.6rem;
    overflow-y: auto;
  }
  .scrollCards::-webkit-scrollbar {
      width: 5px; 
  }
  .scrollCards::-webkit-scrollbar-thumb {
      background-color: #888; 
  }
  .scrollCards::-webkit-scrollbar-track {
      background-color: #f1f1f1; 
  }
 .scrollCards {
      scrollbar-width: thin;
      scrollbar-color: transparent transparent;
  }
  .smallCards{
    margin-top: 1rem;
  }
  #Fees{
    margin-top: 0;
  }
.textIndent{
    margin-left: 2rem;
}
.examImg{
    margin-left: 15rem;
}