{% extends '_layout.html' %}
{% load static %}
{% block title %} Dashboard {% endblock %}

{% block content %}
<link href="{% static 'app-css/dashboard.css' %}" rel="stylesheet" />
<script src="{% static 'app-js/dashboard.js' %}"></script>

<div class="row">
    <div class="col-md-4 col-lg-2 showCard" id="totalCount">
        <div class="upperCard" id="countStudent">
            <div class="text-center mt-2">
                <p class="text-uppercase fw-medium text-muted text-truncate fs-md">Total Students</p>
                <h5 class="fw-semibold mb-3">0</h5>
            </div><!-- end card -->
        </div>
    </div>
    <div class="col-md-6 col-lg-2 showCard" id="totalCount">
        <div class="upperCard" id="countStaff">
            <div class="text-center mt-2">
                <p class="text-uppercase fw-medium text-muted text-truncate fs-md">Total Staffs</p>
                <h5 class="fw-semibold mb-3">0</h5>
            </div><!-- end card -->
        </div>
    </div>
    <div class="col-md-6 col-lg-2 showCard" id="totalCount">
        <div class="upperCard" id="collectFees">
            <div class="text-center mt-2">
                <p class="text-uppercase fw-medium text-muted text-truncate fs-md">Fees to Collect</p>
                <h5 class="fw-semibold mb-3">0</h5>
            </div><!-- end card -->
        </div>
    </div>
    <div class="col-md-6 col-lg-2 showCard" id="totalCount">
        <div class="upperCard" id="attendantRate">
            <div class="text-center mt-2">
                <p class="text-uppercase fw-medium text-muted text-truncate fs-md">Attendant Rate</p>
                <h5 class="fw-semibold mb-3">0%</h5>
            </div><!-- end card -->
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xl-8">
        <div>
            <div class="row gy-4 mt-0">
                <div class="col-sm-6 showCard">
                    <div class="card card-height-100">
                        <div class="card-header align-items-center d-flex">
                            <h5 class="card-title mb-0 flex-grow-1">Notice Board</h5>
                            <div class="flex-shrink-0">
                                <a class="btn btn-subtle-info btn-sm" href="{% url 'notice' %}">
                                    View More <i class="ph-caret-right align-middle"></i>
                                </a>
                            </div>
                        </div><!-- end card header -->

                        <div class="card-body" id="noticeBody">

                        </div>
                    </div>
                </div>
                <div class="col-sm-6 showCard">
                    <div class="row card" id="birthdayCards">
                        <h6 class="mt-4">Today's Birthday</h6>
                        <div class="row mt-2 scrollCards" id="birthdayBoard">
                            <div class="col-md-4 mb-4 smallCards">
                            </div>
                        </div>
                    </div>
                    <div class="row card" id="absentCards">
                        <div class="card-header d-flex">
                            <h6 class="card-title flex-grow-1">Who is Absent Today</h6>
                            <div class="flex-shrink-0">
                                <a class="btn btn-subtle-info btn-sm" href="{% url 'attendance' %}">
                                    View More <i class="ph-caret-right align-middle"></i>
                                </a>
                            </div>
                        </div>
                        <div class="row mt-2 scrollCards" id="absentBoard">

                        </div>
                    </div>
                </div>
            </div><!--end row-->

            <div class="row">
                <div class="col-sm-12 showCard">
                    <div class="card" id="contactList">
                        <div class="card-header align-items-center d-flex">
                            <h4 class="card-title mb-0 flex-grow-1">Exam Results</h4>
                            <a class="btn btn-subtle-info btn-sm" href="{% url 'examination' %}">
                                View More <i class="ph-caret-right align-middle"></i>
                            </a>
                        </div>
                        <div class="card-body" id="examBoard">
                            <div class="mt-0">
                                <table class="table table-borderless table-centered align-middle table-nowrap mb-0"
                                    id="examResultTable">
                                    <thead class="text-muted" id="tableHead">
                                        <tr>
                                            <th>Exam Date</th>
                                            <th>Exam Name</th>
                                            <th>Result Date</th>
                                            <th>Class</th>
                                        </tr>
                                    </thead>
                                    <tbody class="list" id="examResultBody">

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div><!--end col-->
    <div class="col-xl-4" id="sideRow">
        <div class="d-none d-xl-block showCard">
            <div class="card" id="Fees">
                <div class="card-header d-flex">
                    <h5 class="card-title flex-grow-1 mb-0">Upcoming Fees</h5>
                    <div class="flex-shrink-0">
                        <a href="{% url 'fees' %}" class="btn btn-subtle-info btn-sm">View More
                            <i class="ph-caret-right align-middle"></i></a>
                    </div>
                </div>
                <div class="card-body vstack gap-2 scrollDiv" id="feeBoard">

                </div>
            </div>
        </div>
        <div class="mt-xl-1 pt-xl-0 showCard">
            <div class="card">
                <div class="card-header d-flex">
                    <h5 class="card-title flex-grow-1 mb-0">Account Summary</h5>
                    <div class="flex-shrink-0">
                        <a href="{% url 'accounts' %}" class="btn btn-subtle-info btn-sm">View More
                            <i class="ph-caret-right align-middle"></i></a>
                    </div>
                </div>
                <div class="row g-4 mt-3" id="accountSummary">
                    <div class="col-sm-6">
                        <div class="card mb-0 imageCard mx-auto">
                            <div class="imgBox">
                                <img src="/assets/img/money.png" class="card-img-top rounded-circle" alt=" ">
                            </div>
                            <div class="card-body text-center accounts">
                                <h6 class="fs-lg mb-2" id="balance">0</h6>
                                <p class="mb-0 fs-md text-muted">Balance</p>
                            </div>
                        </div>
                    </div><!--end col-->
                    <div class="col-sm-6">
                        <div class="card mb-0 imageCard mx-auto">
                            <div class="imgBox">
                                <img src="/assets/img/money.png" class="card-img-top rounded-circle" alt=" ">
                            </div>
                            <div class="card-body text-center accounts">
                                <h6 class="fs-lg mb-2" id="feesCollections">0</h6>
                                <p class="mb-0 fs-md text-muted">Fees Collections</p>
                            </div>
                        </div>
                    </div><!--end col-->
                    <div class="col-sm-6">
                        <div class="card mb-0 imageCard mx-auto">
                            <div class="imgBox">
                                <img src="/assets/img/money.png" class="card-img-top rounded-circle" alt=" ">
                            </div>
                            <div class="card-body text-center accounts">
                                <h6 class="fs-lg mb-2" id="salary">0</h6>
                                <p class="mb-0 fs-md text-muted">Salary</p>
                            </div>
                        </div>
                    </div><!--end col-->
                    <div class="col-sm-6">
                        <div class="card mb-0 imageCard mx-auto">
                            <div class="imgBox">
                                <img src="/assets/img/money.png" class="card-img-top rounded-circle" alt=" ">
                            </div>
                            <div class="card-body text-center accounts">
                                <h6 class="fs-lg mb-2" id="expenditure">0</h6>
                                <p class="mb-0 fs-md text-muted">Expenditure</p>
                            </div>
                        </div>
                    </div><!--end col-->
                    <div class="col-sm-6">
                        <div class="card mb-0 imageCard mx-auto">
                            <div class="imgBox">
                                <img src="/assets/img/money.png" class="card-img-top rounded-circle" alt=" ">
                            </div>
                            <div class="card-body text-center accounts">
                                <h6 class="fs-lg mb-2" id="otherCredits">0</h6>
                                <p class="mb-0 fs-md text-muted">Other Credits</p>
                            </div>
                        </div>
                    </div><!--end col-->
                    <div class="col-sm-6" style="padding-bottom: 15px;">
                        <div class="card mb-0 imageCard mx-auto">
                            <div class="imgBox">
                                <img src="/assets/img/money.png" class="card-img-top rounded-circle" alt=" ">
                            </div>
                            <div class="card-body text-center accounts">
                                <h6 class="fs-lg mb-2" id="otherDebits">0</h6>
                                <p class="mb-0 fs-md text-muted">Other Debit</p>
                            </div>
                        </div>
                    </div><!--end col-->
                </div><!--end row-->
            </div>
        </div>
    </div><!--end col-->
</div><!--end row-->

{% endblock %}