{% extends '_layout.html' %}
{% load static %}
{% block title %} Student Management {% endblock %}

{% block content %}
<script src="{% static 'app-js/student_alumni.js' %}"></script>

<div class="row" id="heading-row">
    <div class="col-sm-12 col-md-8 col-xl-7.5" style="padding: 1rem">
        <h5>Alumni Records</h5>
        <quote>Students Alumni: Where past meets present, and shared experiences weave a tapestry of lifelong connections.</quote>
    </div>
    <div class="col-sm-12 col-md-4 col-xl-4.5" style="padding: 1rem">
        <div class="row">
            <div class="col text-end">
                <button type="button" class="btn btn-info btn-label rounded-pill right" data-bs-toggle="modal"
                data-bs-target="#searchAlumnimodal">
                <i class="bi bi-funnel label-icon align-middle fs-lg ms-2"></i>Filter</button>
            </div>
        </div>
    </div>
</div>
<!-- Student table start -->
<section class="row">
    <div class="col-md-12">
        <table class="table table-striped table-hover table-sticky table_students" id="studentsAlumniTable">
            <thead class="thead-dark">
                <tr>
                    <th>DP</th>
                    <th>Student Name</th>
                    <th>Roll Number</th>
                    <th>Class </th>
                    <th>Section</th>
                    <th>Gender</th>
                    <th>Completion Type</th>
                </tr>
            </thead>
            <tbody class="tbl__bdy" id="studentAlumni">
                <tr class="no_data_found-tr">
                    <td colspan="8" class="text-center">
                        <img src="{% static 'img/no_data_found.png' %}" alt="No Image" class="no_data_found">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</section>
<div class="modal fade" id="searchAlumnimodal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel"
aria-hidden="true">
<div class="modal-dialog">
  <div class="modal-content" id="alumniFormArea">
    <div class="modal-header">
      <h5 class="modal-title" id="mySmallModalLabel">Search Alumni</h5>
      <button type="button" class="btn-close btnCloseExamModel" data-bs-dismiss="modal" aria-label="Close">
      </button>
    </div>
    <div class="modal-body" id="AddExam">
      <div class="d-flex">
        <div class="flex-shrink-0">
          <i class="ri-checkbox-circle-fill text-success"></i>
        </div>
        <div class="flex-grow-1 ms-2">
          <p class="text-muted mb-0">Student Alumni: Bridging past and present, forging connections that last a lifetime.</p>
        </div>
      </div>
      <div class="d-flex mt-2 row">
        <div class="col-md-12 form-content">
          <label for="start_date" class="form-label">From Date</label>
          <input type="date" class="form-control start_date" id="fromDate" name="start_date">
        </div>
      </div>
      <div class="d-flex mt-2 row">
          <div class="col-md-12 form-content">
            <label for="start_date" class="form-label">To Date</label>
            <input type="date" class="form-control start_date" id="toDate" name="start_date">
          </div>
        </div>
        <div class="d-flex mt-2 row">
          <div class="col-md-12 form-content">
            <label for="start_date" class="form-label">Class</label>
            <select class="form-select" id="selectClass">
            </select>          
        </div>
        </div>
        <div class="d-flex mt-2 row">
          <div class="col-md-12 form-content">
            <label for="start_date" class="form-label">Course Completion Type</label>
            <select class="form-select" id="completetion_type">
                <option value="All">All</option>
                <option value="Transfer Certificate">TC - Transfer Certificate</option>
                <option value="Closed Out">CO - Closed Out</option>
                <option value="Expulsion">EXP - Expulsion</option>
                <option value="Rustication">RST - Rustication</option>
                <option value="Suspension">SUS - Suspension</option>
                <option value="Drop Down">DD - Drop Down</option>
                <option value="Forwarded">FWD - Forwarded</option>
                <option value="Dismissal">DIS - Dismissal</option>
                <option value="Revocation">REV - Revocation</option>
                <option value="Deferred">DEF - Deferred</option>
                <option value="Cancellation">CXL - Cancellation</option>
            </select>
          </div>
        </div>
    </div>
    <div class="modal-footer">
      <a href="javascript:void(0);" class="btn btn-link link-success fw-medium btnCloseExamModel"
        data-bs-dismiss="modal"><i class="ri-close-line me-1 align-middle"></i> Close</a>
      <button type="submit" class="btn btn-primary" id="btnSearchAlumni">Search Alumni</button>
    </div>
  </div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div>
{% endblock %}